* {
font-family: "Roboto";
margin: 0px;
padding: 0px;
}
.container {
display: grid;
grid-template-columns: 1fr 5fr;
}
.header {
    display: grid;
    grid-column: 2 / 3 ;
    grid-template-columns: repeat(20, minmax(40px,1fr));
    grid-template-rows: repeat(2, 1fr);
    padding: 10px;
    align-items: center;
    overflow: auto;
    column-gap: 10px;
    padding-left: 30px;
    
}
.searchicon {
    display: grid;
    height: 25px;
    width: 25px;
}
.searchbar {
    display: grid;
    grid-column: 2 / 15;
}
input {
    display: grid;
    width: 400px;
    height: 20px;
    border-radius: 10px;
    border: none;   
    background-color:#cbd5e1;
    padding-left: 10px;
    font-size: 16px;
}
.bellicon {
    display: grid;
    height: 20px;
    width: 20px;
    grid-column: 17 / 18;
}
img.maskot1 {
    display: grid;
    height: 40px;
    width: 40px;
    background-color: red;
    border-radius: 50%;
    grid-column: 18 / 19;
}
.name {
    display: grid;
    grid-column: 19 / 21;
    font-size: 16px;
    font-weight: bold;
}
img.maskot2 {
    display: grid;
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
    grid-row: 2;
    grid-column: 1 / span 2;
}
.fullname {
    display: grid;
    grid-column: 2 /  15;
    grid-row: 2;
    font-size: 20px;
    font-weight: bold;
}
.hi {
    font-size: 16px;
}
button {
    display: grid;
    grid-row: 2;
    border-radius: 15px;
    width: 55px;
    height: 30px;
    align-items: center;
    background-color: #3b82f6;
    color: white;
    border: 1px solid;
    font-size: 16px;
}
button.new {
    display: grid;
    grid-row: 2;
    grid-column: 16 / 17;
}
button.share {
    display: grid;
    grid-row: 2;
    grid-column: 18 / 19;
}
button.upload {
    display: grid;
    grid-row: 2;
    grid-column: 20 / 21;
}
.sidebar {
    display: grid;
    grid-row: 1 / span 4;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(20, 1fr);
    background-color:#3b82f6;
    color: white;
    justify-items: center;
    align-items: center;
    overflow: auto;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
}
.project {
    display: grid;
    grid-column: 2 / 3;
}
img.dashicon {
    display: grid;
    grid-row: 2/3;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(270deg) brightness(103%) contrast(100%);   
}
.dashboard {
    display: grid;
    grid-row: 2/3;
    font-size: 20px;
    padding-left: 10px;
}
.homeicon {
    display: grid;
    grid-row: 4/5;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(270deg) brightness(103%) contrast(100%);   
    width: 30px;
}
.home {
    display: grid;
    grid-row: 4/5;
}
img.profileicon {
    display: grid;
    grid-row: 5/6;
    width: 30px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(270deg) brightness(103%) contrast(100%);   
}
.profile {
    display: grid;
    grid-row: 5/6;
}
img.messageicon {
    display: grid;
    grid-row: 6/7;
    width: 30px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(270deg) brightness(103%) contrast(100%);   
}
.message {
    display: grid;
    grid-row: 6/7;
}
img.historyicon {
    display: grid;
    grid-row: 7/8;
    width: 30px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(270deg) brightness(103%) contrast(100%);   
}
.history {
    display: grid;
    grid-row: 7/8;
}
img.taskicon {
    display: grid;
    grid-row: 8/9;
    width: 30px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(270deg) brightness(103%) contrast(100%);   
}
.tasks {
    display: grid;
    grid-row: 8/9;
}
img.communityicon {
    display: grid;
    grid-row: 9/10;
    width: 30px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(270deg) brightness(103%) contrast(100%);   
}
.community {
    display: grid;
    grid-row: 9/10;
}
img.settingicon {
    display: grid;
    grid-row: 11/12;
    width: 30px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(270deg) brightness(103%) contrast(100%);   
}
.setting {
    display: grid;
    grid-row: 11/12;
}
img.supporticon {
    display: grid;
    grid-row: 12/13;
    width: 30px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(270deg) brightness(103%) contrast(100%);   
}
.support {
    display: grid;
    grid-row: 12/13;
}
img.privacyicon {
    display: grid;
    grid-row: 13/14;
    width: 30px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(270deg) brightness(103%) contrast(100%);   
}
.privacy {
    display: grid;
    grid-row: 13/14;
}   

.content {
    display: grid;
    grid-row: 2 /span 3;
}
.project {
    display: grid;
    grid-template-columns: repeat(2, minmax(350px,400px));
    grid-template-rows: 40px 180px 180px 180px;
    background-color: #cbd5e1;
    gap: 10px;
    padding: 10px;
    grid-column: 1;
    overflow: auto;
}
.projectinside {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 350px;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
    border-left: 8px solid #facc15;
    padding: 10px;
}
.projecttitle {
    display: grid;
    grid-column: span 2;
    padding-left: 5px;
    padding-right: 20px;
    padding-top: 10px;
    font-size: 20px;
    font-weight:500;
}
.box-1 {
    font-weight: bold;
    font-size: 16px;
}
.box-3 {
    display: flex;
    justify-content: right;
    gap: 15px;
}
.star {
    width: 20px;
}
.view {
    width: 20px;
}
.shareable {
    width: 20px;
}
.updates {
    display: grid;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    background-color: #cbd5e1;
    padding-top: 10px;
    overflow: auto;
    padding-right: 10px;
}
.atitle {
    display: grid;
    grid-column: span 2;
    padding-left: 5px;
    padding-right: 20px;
    padding-top: 10px;
    font-size: 20px;
    font-weight:500;
    padding-bottom: 10px;
    margin-bottom: 5px;
}
.boxcontentone {
    display: grid;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    height: 300px;
    width:300px;
    margin: 0px;
}
.abox {
    padding: 10px;
}
.line {
    height: 1px;
    background: #cbd5e1;
    margin-top: 20px;
}
.boxtitle {
    font-weight: bold;
    font-size: 16px;
}
.ids {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4, auto);
    background-color: white;
    border-radius: 10px;
    overflow: auto;
    row-gap: 10px;
    padding: 10px;
    width: 300px;
    height: 180px;
}
.roundicon {
    display: grid;
    height: 40px;
    width: 40px;
    justify-self: center;
    border-radius: 50%;
    background-color: #e5e7eb;
}
.handle {
    font-weight: bold;
}
.handlename {
    font-size: 14px;
    color: gray;
}
.trendtittle {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
}

